@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,500i,700,900|Roboto:400,500,500i,700,900|Playfair+Display:700,700i");

@slider-font: "Roboto", sans-serif;
@body-font: "Lato", sans-serif;
@menu-font: @body-font;
@heading-font: "Lato", sans-serif;
@heading-font-alt: "Lato", sans-serif;
@curly-font: "Playfair Display", serif;

@section-bg-light: #f9fafb;
@primary-color: #e95912;
@secondary-color: #254559;

@top-bar-bg: #e95912;
@top-bar-bg-transparent: rgba(237, 19, 93, 0.9);
@top-bar-text: #ffffff;
@text-color: #333333;
@light-text-color: #ffffff;
@dark-text-color: #1a1a1a;
@default-font-color: #555555; //body font
@pure-white-bg: #ffffff;
@pure-black-bg: #000000;
@primary-bg-color: #ffffff;
@second-bg-color: #f9fafb;
@border-color: #eee;
@dark-bg: #2c2c2c;
@light-bg: #fafafa;
@blog-bg-color: #f9fafb;

@link-color: #777777;
@link-hover-color: #66ccff;
@dark-color: #000000;

@gray-color: #eeeeee;
@light-color: #f8f8f8;

@top-menu-background: #ffffff;
@main-menu-background: #ffffff;
@button-background: #399fd2;
@blockquote-background: #f8f8f8;
@separator-border: #808080;

@background-color: #ffffff;
@sidebar-bg: #ffffff;
@sub-text-color: #555555;

@light-border-color: #cccccc;
@dark-border-color: #212121;
@primary-btn-bg: @primary-color;
@secondary-btn-bg: @secondary-color;

@footer-bg: #1a1a1a;
@footer-sidebar-bg: #333333;
@footer-text-color: #c2c2c2;
@footer-sidebar-border: #444444;

@top-menu-bg: @footer-sidebar-bg;
@main-menu-bg: @footer-sidebar-bg;

@heading-font-color: #555555;
@header-background-color: rgba(256, 256, 256, 1);
@anchor-color: #272727;
